header {
  margin-top: 0;
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  text-align: center;
  background-color: $header-background-color;

  h1 {
    margin-bottom: 0;

    a {
      color: $header-title;
    }
  }

  .tagline {
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: $base-spacing;
    font-style: italic;
    color: $base-background-color;
  }

  &.no-tagline {
    h1 {
      margin-bottom: $base-spacing / 2;
    }
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-block;
      margin-bottom: $base-spacing / 2;
    }

    .current-menu-item a {
      background-color: $alt-color;
    }
  }
}
